<header class="col-md-3 sideBar"  > 
    <img src="/logo.jpeg" class="logo"> <br>
    <a href="/" class = "btn btn-success"> Home </a> <br>
    <a href="/pages/new" class = "btn btn-success mt-3"> New Journal Entry</a><br>
    <a href="/pages/macroCalc" class = "btn btn-success mt-3"> Macro Calculator</a>
    <p style="text-align: left; padding: 15px;"> About: </br>
    Nutrition Coach is an online food diary application designed to help you keep track of your daily nutrition. <br><br> Each day, you will track your nutrition information (we recommend apps like MyFitnessPal, LoseIt, and Calorie Counter)
    enter in your nutrition data into this site, and we will give you recommendations to help you stay on track with your goals!
     </p> 
</header>