<header class="col-md-3 sideBar"  > 
    <div style="position:fixed;"></div>
    <img src="/logo.png" class="logo"> <br>
    <a href="/" class = "btn btn-success"> Home </a> <br>
    <a href="/pages/new" class = "btn btn-success mt-3"> New Journal Entry</a><br> 
    <p style="text-align: left; padding: 15px;"> About: </br>
    Nutrition Log is an online food diary application designed to help you keep track of your daily nutrition! <br><br>  
    Feel free to Create new journal entries, read exisitng journal entries, update existing entries, and delete previous entries!  
     </p> 
</header>