
.sideBar{
    text-align: center;
     width: 20%;
     background-color: blanchedalmond; 
     min-height: 100vh; 
     padding: 10px; 
     margin-right: 10px; 
      
}

.indexCard{ 
    padding-left: 50px; 
    
}
.cardContainer{ 
    
    background-color:rgb(255, 227, 194, 0.95);
    margin-top:30px; 
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 30px; 
}
.pageContainer{
    top: 0;
    left: 0;
    background-image: url('./siteBackground.jpg') ;
    background-size: cover; 
    background-position: center
}

.logo{
    max-width: 75%; 
    max-height: 75%; 
    border-radius: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.dataContainer{
    background-color:bisque;
    margin: 130px;
    padding: 30px; 
    border-radius: 25px; 
}

.nutritionNotes{
    height: 100px;
    padding-top: 10px;   
}

.indexMacros{
    display:none; 
}

a:hover + .indexMacros{
    display:block; 
}